<!-- SITE-SPECIFIC JAVASCRIPT-->
<script src="<?php echo URL_ASSETS; ?>js/tabber.js"></script>
<script src="<?php echo URL_ASSETS; ?>js/dt_init_freeze.js"></script>
<!--  http://www.randomsnippets.com/2008/02/12/how-to-hide-and-show-your-div/  -->
<script src="<?php echo URL_ASSETS; ?>js/attn_toggle_1.js"></script>
<script src="<?php echo URL_ASSETS; ?>js/attn_toggle_2.js"></script>
<script src="<?php echo URL_ASSETS; ?>js/attn_toggle_3.js"></script> 
