<!--
<link rel="stylesheet" type="text/css" href="<?php echo URL_ASSETS; ?>css/compiled.css">
<link rel="stylesheet" type="text/css" href="<?php echo URL_ASSETS; ?>css/compiled.min.css">
-->

<!-- CSS TESTING -->

<link rel="stylesheet" type="text/css" href="<?php echo URL_ASSETS ?>css/1_structure.css">
<link rel="stylesheet" type="text/css" href="<?php echo URL_ASSETS ?>css/2_forms.css">
<link rel="stylesheet" type="text/css" href="<?php echo URL_ASSETS ?>css/2_tables.css">
<link rel="stylesheet" type="text/css" href="<?php echo URL_ASSETS ?>css/3_slide.css">
<link rel="stylesheet" type="text/css" href="<?php echo URL_ASSETS ?>css/tabber.css"> 
