
/* ‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡
  2_FORMS.CSS PARTIAL BEGINS HERE
‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡ */

legend {
    padding-top: 1em;
}

fieldset {
    display:block;
    /* margin: 1em 0;
    padding:0; */
    border:0;
}

fieldset.nested {
    border:0;
    display:inline;
    margin:0;
    padding:0;
}

fieldset li {
    margin-bottom:0.25em;
    padding:0.3em;
    /* background:#0086B3; */
    color:#fff;
}

ol.forms {
    list-style:none;
}

ol.forms_nested {
    list-style:none;
    display:inline;
}

ol.forms_nested li{
    display:inline;
}

.form_left {
    position: fixed;
    top:0px;
    padding-top: 90px;
    z-index:48;
    left:0;
    float:left;
    width:10%;
    height:100%;
    text-align:center;
    
}

.data_entry {
    /* clear:both; */
}

.form_right {
    text-align:left;
    float:right;
    width:90%;
    height:100%;
    background:#DCDCDC;
    padding: 5px;
}

.button_submit_fixed {
width:38px;
height:38px;
border-radius:19px;
font-size:19px;
line-height:38px;
text-align:center;
       display: table-cell;
    vertical-align: middle;

    /* ---------------------------------------- */
    
    border: solid 1px #0086B3;
    background-color:#0086B3 !important;
    color:#ffffff !important;

    /* rounded corners in non-IE browsers
        http://jonraasch.com/blog/css-rounded-corners-in-all-browsers
    */
    /*
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    */

}

.header_input {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    border:0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    float:left;
}

.header_input input {
  /* background-color:#DCDCDC; */
  background-color:#fff;
  color: #696969;
}

.search_box {
    /* padding:0;
    margin:0; */
    text-align: center;
    border: solid 2px #0086B3;
    font-style: oblique;
    /* padding-left: 5px; */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#search_code {
    width: 140px;
}

#search_term {
    width: 200px;
}

/* testing, possibly unnecessary --------------------------------------------------- */

label.inliner {
    display: inline;
}

input.inliner {
    display: inline;
}
