
/* ‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡
  2_TABLES.CSS PARTIAL BEGINS HERE
‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡ */

#liqfin {
/* set height in dt_init_freeze.js */
    background: #C2C2C2;
}

table {
   /* border: 1px dotted #000;*/
    margin-bottom: 1em;
    width: 90%;
    font-size: 0.9em;
    border: 0;
}

th {
    /* border-right: 1px dotted #000; */
    /* background: #CD69C9; */
    background: #708090;
    color: #FFFFFF;
    /*
    border-top: 1px dotted #000;
     border-bottom: 1px dotted #000;
     */
}

td {
    /* height: 3em; two rows for long comments */
    height: 1em;
    /*
    border-right: 1px dotted #000;
    border-top: 1px dotted #000;
    */
    padding: 0 1em  ;
}

th.freeze {
    background: #49545E;
    width: 100px;
}

td {
    background: #fff;
}

td.freeze {
    /* border-right: 2px solid red; */
    /*
    background: #DFD6B7;
    background:#ADFF5C;
    background: #91D64D;
    */
    background: #DCDCDC;
    width: 400px;
 }

td.highlight_rj {
    text-align: right;
    /*
    background:#C4C400;
    background: #9AFF9A;
    background: #8FBC8F;
    */
    background: #ADE3AD;
}

td.just_r {
    text-align: right;
    /*

/* ----------------------------------------------------------------------------------- */
/* Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/    */

tr.zebra_off td {
}

tr.zebra_on td {
    background: #CFCFCF;
}

/*  alternate zebra row implementation (not currnelty used)  */
.product.even {
    background: #eee;
}

.product.odd {
    background:#ddf;
}

/* -----------------------------------------------------------------------------------
    DEPRECATED
 */

.danger {
    background: red;
}
