<form class="data_entry" action="<?php echo FORM_ACTION; ?>" method="post">
<!-- ....................................................................... -->

  <div class="form_right">
      <span class="danger">
          <strong>DANGER:</strong>
            <?php
                 echo "<a href='fc.php?p=prod_del&amp;idItemNum=$idItemNum'> ";
            ?>
           drop this row from</a></strong> the database?</span>
        <span class="clone"><strong>CLONE</strong> this record?</span>
    
<!-- ....................................................................... -->
