(from order partial)
<label for="order_subtotal_projected">Order Subtotal Projected:</label>
<input type="text" id="order_subtotal_projected" name="order_subtotal_projected" value="<?php echo $order_subtotal_projected; ?>" size="5" />

<label for="bcf_base">BCF Base:</label>
<input type="text" id="bcf_base" name="bcf_base" value="<?php echo $bcf_base; ?>" size="5" />

<label for="bcf">BCF:</label>
<input type="text" id="bcf" name="bcf" value="<?php echo $bcf; ?>" size="5" />

<!-- ....................................................................... -->
<br>

Order By (deprecated?):&nbsp;&nbsp;&nbsp;&nbsp;
  <?php
  // echo label before input, to be consistent with addition form
  if ($order_by=='unk') {
    echo '<label for="order_by_unk">Unknown</label>
      <input type="radio" id="order_by_unk" name="order_by" value="unk" checked="checked" /> &nbsp;&nbsp;';
    echo '<label for="order_by_ignore">Ignore</label>
      <input type="radio" id="order_by_ignore" name="order_by" value="ignore" /> &nbsp;&nbsp;';
    echo '<label for="order_by_bottle">Bottle</label>
      <input type="radio" id="order_by_bottle" name="order_by" value="bottle" /> &nbsp;&nbsp;';
    echo '<label for="order_by_case">Case</label>
      <input type="radio" id="order_by_case" name="order_by" value="case" /> &nbsp;&nbsp;';
    echo '<label for="order_by_drop">Drop</label>
      <input type="radio" id="order_by_drop" name="order_by" value="drop" /> &nbsp;&nbsp;';
  } elseif ($order_by=='ignore') {
    echo '<label for="order_by_unk">Unknown</label>
      <input type="radio" id="order_by_unk" name="order_by" value="unk" /> &nbsp;&nbsp;';
    echo '<label for="order_by_ignore">Ignore</label>
      <input type="radio" id="order_by_ignore" name="order_by" value="ignore" checked="checked" /> &nbsp;&nbsp;';
    echo '<label for="order_by_bottle">Bottle</label>
      <input type="radio" id="order_by_bottle" name="order_by" value="bottle" /> &nbsp;&nbsp;';
    echo '<label for="order_by_case">Case</label>
      <input type="radio" id="order_by_case" name="order_by" value="case" /> &nbsp;&nbsp;';
    echo '<label for="order_by_drop">Drop</label>
      <input type="radio" id="order_by_drop" name="order_by" value="drop" /> &nbsp;&nbsp;';
  } elseif ($order_by=='bottle') {
    echo '<label for="order_by_unk">Unknown</label>
      <input type="radio" id="order_by_unk" name="order_by" value="unk" /> &nbsp;&nbsp;';
    echo '<label for="order_by_ignore">Ignore</label>
      <input type="radio" id="order_by_ignore" name="order_by" value="ignore" /> &nbsp;&nbsp;';
    echo '<label for="order_by_bottle">Bottle</label>
      <input type="radio" id="order_by_bottle" name="order_by" value="bottle" checked="checked" /> &nbsp;&nbsp;';
    echo '<label for="order_by_case">Case</label>
      <input type="radio" id="order_by_case" name="order_by" value="case" /> &nbsp;&nbsp;';
    echo '<label for="order_by_drop">Drop</label>
      <input type="radio" id="order_by_drop" name="order_by" value="drop" /> &nbsp;&nbsp;';
  } elseif ($order_by=='case') {
    echo '<label for="order_by_unk">Unknown</label>
      <input type="radio" id="order_by_unk" name="order_by" value="unk" /> &nbsp;&nbsp;';
    echo '<label for="order_by_ignore">Ignore</label>
      <input type="radio" id="order_by_ignore" name="order_by" value="ignore" /> &nbsp;&nbsp;';
    echo '<label for="order_by_bottle">Bottle</label>
      <input type="radio" id="order_by_bottle" name="order_by" value="bottle" /> &nbsp;&nbsp;';
    echo '<label for="order_by_case">Case</label>
      <input type="radio" id="order_by_case" name="order_by" value="case" checked="checked" /> &nbsp;&nbsp;';
    echo '<label for="order_by_drop">Drop</label>
      <input type="radio" id="order_by_drop" name="order_by" value="drop" /> &nbsp;&nbsp;';
  } else {
    echo '<label for="order_by_unk">Unknown</label>
      <input type="radio" id="order_by_unk" name="order_by" value="unk" /> &nbsp;&nbsp;';
    echo '<label for="order_by_ignore">Ignore</label>
      <input type="radio" id="order_by_ignore" name="order_by" value="ignore" /> &nbsp;&nbsp;';
    echo '<label for="order_by_bottle">Bottle</label>
      <input type="radio" id="order_by_bottle" name="order_by" value="bottle" /> &nbsp;&nbsp;';
    echo '<label for="order_by_case">Case</label>
      <input type="radio" id="order_by_case" name="order_by" value="case" /> &nbsp;&nbsp;';
    echo '<label for="order_by_drop">Drop</label>
      <input type="radio" id="order_by_drop" name="order_by" value="drop" checked="checked" /> &nbsp;&nbsp;';
  }
  // end conditional ?>

<!-- ....................................................................... -->
<br>

<label for="orderStatus">Order Status:</label>
<select id="orderStatus" name="childOrderStatus">
  <option value="ignore">Choose Order Status</option>
  <option value="ignore">-------------------</option>
  <?php
      $queryOrderStatus = "SELECT id, order_status FROM 2_order_status ORDER BY id";
      $resultOrderStatus = sqlw_query($queryOrderStatus);
      while($orderStatusArray=sqlw_fetch_array($resultOrderStatus)){
    $childOrderStatus=$orderStatusArray['id'];
    $displayOrderStatus=$orderStatusArray['order_status'];
    //make sure the entry in the database is selected
    if ($childOrderStatus==$childOrderStatusExists){
      echo "<option selected=\"selected\" value=$childOrderStatus>$displayOrderStatus</option>";
      } else  {
      echo "<option value=$childOrderStatus>$displayOrderStatus</option>";
      }}
  ?>
</select>

<!-- ....................................................................... -->
<br>

<label for="deal">Deal Type:</label>
<select id="deal" name="childDeal">
  <option value="ignore">Choose Deal</option>
  <option value="ignore">-------------------</option>
  <?php
      $queryDeals = "SELECT id, deal FROM 2_deals ORDER BY id";
      $resultDeals = sqlw_query($queryDeals);
      while($dealsArray=sqlw_fetch_array($resultDeals)){
    $childDeal=$dealsArray['id'];
    $displayDeal=$dealsArray['deal'];
    //make sure the entry in the database is selected
    if ($childDeal==$childDealExists){
      echo "<option selected=\"selected\" value=$childDeal>$displayDeal</option>";
      } else  {
      echo "<option value=$childDeal>$displayDeal</option>";
      }}
  ?>
</select>

<!-- ....................................................................... -->
<br>

<label for="pack">Case Pack Quantity:</label>
<input type="text" id="pack" name="pack" value="<?php echo $pack; ?>" size="5" />

<label for="order_qty_cs">Order Quantity (Cases):</label>
<input type="text" id="order_qty_cs" name="order_qty_cs" value="<?php echo $order_qty_cs; ?>" size="5" />

<label for="order_qty_bt">Order Quantity (Bottles):</label>
<input type="text" id="order_qty_bt" name="order_qty_bt" value="<?php echo $order_qty_bt; ?>" size="5" />
<br>

<label for="order_comments">Order Comments:</label>
<input type="text" id="order_comments" name="orderComments" value="<?php echo $orderComments; ?>" size="100"/>

<br>
Include subtotal? [NEW]
<br>
