<?php echo "PK is $idItemNum"; ?>

<br><br><hr><br>

<label for="product_name">Product Name:</label>
<input type="text" id="product_name" name="productName" value="<?php echo $productName; ?>" size="60" />
<br>

<label for="product_name_mini">Product Name Mini:</label>
<input type="text" id="product_name_mini" name="productNameMini" value="<?php echo $productNameMini; ?>" size="30" />
<br>

<label for="upc">Barcode:</label>
<input type="text" id="upc" name="upc" value="<?php echo $upc; ?>" size="20s" />
<br>



<label for="company_temp">Company (Temp):</label>
<input type="text" id="company_temp" name="company_temp" value="<?php echo $company_temp; ?>" size="20" 
/>


<!-- ....................................................................... -->

<label for="vendor">Vendor:</label>
<select id="vendor" name="childVendor">
  <option value="ignore">Choose Vendor</option>
  <option value="ignore">-------------------</option>
  <?php
      $queryVendors = "SELECT id, vendor FROM 2_vendors ORDER BY vendor";
      $resultVendors = sqlw_query($queryVendors);
    while($vendorsArray=sqlw_fetch_array($resultVendors)){
      $childVendor=$vendorsArray['id'];
      $displayVendor=$vendorsArray['vendor'];
      //make sure the entry in the database is selected
        if ($childVendor==$childVendorExists){
          echo "<option selected=\"selected\" value=$childVendor>$displayVendor</option>";
          } else  {
          echo "<option value=$childVendor>$displayVendor</option>";
        }
    }
  ?>
</select>

<!-- ....................................................................... -->
<br>

<label for="size">Size:</label>
<select id="size" name="childSize">
  <option value="ignore">Choose Size</option>
  <option value="ignore">-------------------</option>
  <?php
      $querySizes = "SELECT id, size FROM 2_sizes ORDER BY size";
      $resultSizes = sqlw_query($querySizes);
      while($sizesArray=sqlw_fetch_array($resultSizes)){
      $childSize=$sizesArray['id'];
      $displaySize=$sizesArray['size'];
      //make sure the entry in the database is selected
      if ($childSize==$childSizeExists){
        echo "<option selected=\"selected\" value=$childSize>$displaySize</option>";
        } else  {
        echo "<option value=$childSize>$displaySize</option>";
        }
    }
  ?>
</select>

<!-- ....................................................................... -->

<label for="country">Country:</label>
<select id="country" name="childCountry">
  <option value="ignore">Choose Country</option>
  <option value="ignore">-------------------</option>
  <?php
      $queryCountries = "SELECT id, country FROM 2_countries ORDER BY country";
      $resultCountries = sqlw_query($queryCountries);
      while($countriesArray=sqlw_fetch_array($resultCountries)){
      $childCountry=$countriesArray['id'];
      $displayCountry=$countriesArray['country'];
      //make sure the entry in the database is selected
      if ($childCountry==$childCountryExists){
        echo "<option selected=\"selected\" value=$childCountry>$displayCountry</option>";
        } else  {
        echo "<option value=$childCountry>$displayCountry</option>";
        }
    }
  ?>
</select>

<!-- ....................................................................... -->
<br>

<!--
 THIS IS BROKEN, IT IS SHOWING THE LAST ENTRY IN THE SHELF SECTIONS TABLE
 (CURRENTLY REFRIGERATIOR) FOR EVERY PRODUCT
 -->

<label for="shelf_section">Shelf Section:</label>
<select id="shelf_section" name="childShelfSection">
  <option value="ignore">Choose Shelf Section</option>
  <option value="ignore">-------------------</option>
  <?php
      $queryShelfSections = "SELECT id, shelf_section FROM 2_shelf_sections ORDER BY id";
      $resultShelfSections = sqlw_query($queryShelfSections);
      while($shelfSectionsArray=sqlw_fetch_array($resultShelfSections)){
    $childShelfSection=$shelfSectionsArray['id'];
    $displayShelfSection=$shelfSectionsArray['shelf_section'];
    //make sure the entry in the database is selected
    if ($childShelfSection==$childShelfSectionExists){
      echo "<option selected=\"selected\" value=$childShelfSection>$displayShelfSection</option>";
      } else  {
      echo "<option value=$childShelfSection>$displayShelfSection</option>";
      }}
  ?>
</select>

<label for="date_first_stocked">Date First Stocked:</label>
<input type="text" id="date_first_stocked" name="dateFirstStocked" value="<?php echo $dateFirstStocked; ?>" size="10" />

<!-- ....................................................................... -->
<br><br><hr>

<br>Public Listing (deprecated?)?
  <?php
  // echo label before input, to be consistent with addition form
  if ($public=='n') {
    echo '<input type="radio" id="public_no" name="public" value="n" checked="checked" />';
    echo '<label for="public_no">No</label>';
    echo '<input type="radio" id="public_yes" name="public" value="y" />';
    echo '<label for="public_yes">Yes</label>';
  } else {
    echo '<input type="radio" id="public_no" name="public" value="n" />';
    echo '<label for="public_no">No</label>';
    echo '<input type="radio" id="public_yes" name="public" value="y" checked="checked"/>';
    echo '<label for="public_yes">Yes</label>';
  } // end conditional ?>

<!-- ....................................................................... -->

<br>Added While DG Gone?
  <?php
  if ($flag_new_while_dg_gone=='n') {
    echo '<input type="radio" id="flag_new_while_dg_gone_no" name="flag_new_while_dg_gone" value="n" checked="checked" />';
    echo '<label for="flag_new_while_dg_gone_no">No</label>';
    echo '<input type="radio" id="flag_new_while_dg_gone_yes" name="flag_new_while_dg_gone" value="y" />';
    echo '<label for="flag_new_while_dg_gone_yes">Yes</label>';
  } else {
    echo '<input type="radio" id="flag_new_while_dg_gone_no" name="flag_new_while_dg_gone" value="n" />';
    echo '<label for="flag_new_while_dg_gone_no">No</label>';
    echo '<input type="radio" id="flag_new_while_dg_gone_yes" name="flag_new_while_dg_gone" value="y" checked="checked"/>';
    echo '<label for="flag_new_while_dg_gone_yes">Yes</label>';
  } // end conditional ?>


<br>Was On Legacy Order List Before DG Left?
  <?php
  if ($flag_order_legacy=='n') {
    echo '<input type="radio" id="flag_order_legacy_no" name="flag_order_legacy" value="n" checked="checked" />';
    echo '<label for="flag_order_legacy_no">No</label>';
    echo '<input type="radio" id="flag_order_legacy_yes" name="flag_order_legacy" value="y" />';
    echo '<label for="flag_order_legacy_yes">Yes</label>';
  } else {
    echo '<input type="radio" id="flag_order_legacy_no" name="flag_order_legacy" value="n" />';
    echo '<label for="flag_order_legacy_no">No</label>';
    echo '<input type="radio" id="flag_order_legacy_yes" name="flag_order_legacy" value="y" checked="checked"/>';
    echo '<label for="flag_order_legacy_yes">Yes</label>';
  } // end conditional ?>

<br>Allocated Product?
<?php
if ($allocated=='n') {
  echo '<label for="allocated_no">No</label> <input type="radio" id="allocated_no" name="allocated" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="allocated_yes">Yes</label> <input type="radio" id="allocated_yes" name="allocated" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="allocated_no">No</label> <input type="radio" id="allocated_no" name="allocated" value="n" /> &nbsp;&nbsp;';
  echo '<label for="allocated_yes">Yes</label> <input type="radio" id="allocated_yes" name="allocated" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>
<em>In Windward this is preceded by "(aloc)"" in the product name."</em>

<br>Tarik Seeks?
<?php
if ($tarik_seeks=='n') {
  echo '<label for="tarik_seeks_no">No</label> <input type="radio" id="tarik_seeks_no" name="tarik_seeks" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="tarik_seeks_yes">Yes</label> <input type="radio" id="tarik_seeks_yes" name="tarik_seeks" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="tarik_seeks_no">No</label> <input type="radio" id="tarik_seeks_no" name="tarik_seeks" value="n" /> &nbsp;&nbsp;';
  echo '<label for="tarik_seeks_yes">Yes</label> <input type="radio" id="tarik_seeks_yes" name="tarik_seeks" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>
<em>This could be something for the store to carry, or for a special occasion like a family member's wedding (in the latter case it might not be something we will regularly carry). (Tech note: ideally this field would probably be refactored into a separate table.)</em>

<br>Vendor Out Of Stock?
<?php
if ($voos=='n') {
  echo '<label for="voos_no">No</label> <input type="radio" id="voos_no" name="voos" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="voos_yes">Yes</label> <input type="radio" id="voos_yes" name="voos" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="voos_no">No</label> <input type="radio" id="voos_no" name="voos" value="n" /> &nbsp;&nbsp;';
  echo '<label for="voos_yes">Yes</label> <input type="radio" id="voos_yes" name="voos" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>

<!-- ....................................................................... -->

<br>  <em>Print As: [suggested dropdown replacement for radio buttons]</em>

<br>Print Tag?
<?php
if ($printTag=='n') {
  echo '<label for="print_tag_no">No</label> <input type="radio" id="print_tag_no" name="printTag" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="print_tag_yes">Yes</label> <input type="radio" id="print_tag_yes" name="printTag" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="print_tag_no">No</label> <input type="radio" id="print_tag_no" name="printTag" value="n" /> &nbsp;&nbsp;';
  echo '<label for="print_tag_yes">Yes</label> <input type="radio" id="print_tag_yes" name="printTag" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>

<!-- ....................................................................... -->

<br>Print Talker?
  <?php // clean this section up!
  if ($printTalker=='n') {
    echo '<input type="radio" id="print_talker_no" name="printTalker" value="n" checked="checked" />';
    echo '<label for="print_talker_no">No</label>';
    echo '<input type="radio" id="print_talker_yes" name="printTalker" value="y" />';
    echo '<label for="print_talker_yes">Yes</label>';
  } else {
    echo '<input type="radio" id="print_talker_no" name="printTalker" value="n" />';
    echo '<label for="print_talker_no">No</label>';
    echo '<input type="radio" id="print_talker_yes" name="printTalker" value="y" checked="checked"/>';
    echo '<label for="print_talker_yes">Yes</label>';
  } // end conditional ?>

<br>Has Markdown Tag?
<?php
if ($has_markdown_tag=='n') {
  echo '<label for="has_markdown_tag_no">No</label> <input type="radio" id="has_markdown_tag_no" name="has_markdown_tag" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="has_markdown_tag_yes">Yes</label> <input type="radio" id="has_markdown_tag_yes" name="has_markdown_tag" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="has_markdown_tag_no">No</label> <input type="radio" id="has_markdown_tag_no" name="has_markdown_tag" value="n" /> &nbsp;&nbsp;';
  echo '<label for="has_markdown_tag_yes">Yes</label> <input type="radio" id="has_markdown_tag_yes" name="has_markdown_tag" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>

<br>Pre-Markdown List?
<?php
if ($pre_markdown=='n') {
  echo '<label for="pre_markdown_no">No</label> <input type="radio" id="pre_markdown_no" name="pre_markdown" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="pre_markdown_yes">Yes</label> <input type="radio" id="pre_markdown_yes" name="pre_markdown" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="pre_markdown_no">No</label> <input type="radio" id="pre_markdown_no" name="pre_markdown" value="n" /> &nbsp;&nbsp;';
  echo '<label for="pre_markdown_yes">Yes</label> <input type="radio" id="pre_markdown_yes" name="pre_markdown" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>

<br>On Clearance (do not re-order)?
<?php
if ($clearance=='n') {
  echo '<label for="clearance_no">No</label> <input type="radio" id="clearance_no" name="clearance" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="clearance_yes">Yes</label> <input type="radio" id="clearance_yes" name="clearance" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="clearance_no">No</label> <input type="radio" id="clearance_no" name="clearance" value="n" /> &nbsp;&nbsp;';
  echo '<label for="clearance_yes">Yes</label> <input type="radio" id="clearance_yes" name="clearance" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>

<br>Marked Down Now (here and in Winward)?
<?php
if ($markdown=='n') {
  echo '<label for="markdown_no">No</label> <input type="radio" id="markdown_no" name="markdown" value="n" checked="checked" /> &nbsp;&nbsp;';
  echo '<label for="markdown_yes">Yes</label> <input type="radio" id="markdown_yes" name="markdown" value="y" /> &nbsp;&nbsp;';
} else {
  echo '<label for="markdown_no">No</label> <input type="radio" id="markdown_no" name="markdown" value="n" /> &nbsp;&nbsp;';
  echo '<label for="markdown_yes">Yes</label> <input type="radio" id="markdown_yes" name="markdown" value="y" checked="checked"/> &nbsp;&nbsp;';
} // end conditional ?>


<!-- ....................................................................... -->
<br><br><hr><br>

<label for="cost">Cost Target w/o BCF:</label>
<input type="text" id="cost" name="cost" value="<?php echo $cost; ?>" size="5" />

<label for="landed">Current Landed:</label>
<input type="text" id="landed" name="landed" value="<?php echo $landed; ?>" size="5" />

<label for="retail">Retail:</label>
<input type="text" id="retail" name="retail" value="<?php echo $retail; ?>" size="5" />

<label for="retail_was">Retail Was:</label>
<input type="text" id="retail_was" name="retailWas" value="<?php echo $retailWas; ?>" size="5" />

<!-- ....................................................................... -->
<br>

Retail Arbitrary?
<?php
  if ($retail_birsel=='n') {
    echo '<input type="radio" id="retail_birsel_no" name="retail_birsel" value="n" checked="checked" />';
    echo '<label for="retail_birsel_no">No</label>';
    echo '<input type="radio" id="retail_birsel_yes" name="retail_birsel" value="y" />';
    echo '<label for="retail_birsel_yes">Yes</label>';
  } else {
    echo '<input type="radio" id="retail_birsel_no" name="retail_birsel" value="n" />';
    echo '<label for="retail_birsel_no">No</label>';
    echo '<input type="radio" id="retail_birsel_yes" name="retail_birsel" value="y" checked="checked"/>';
    echo '<label for="retail_birsel_yes">Yes</label>';
  }
// end conditional ?>

<!-- ....................................................................... -->
<br>

<label for="bps">Arbitrary Pricing Status:</label>
<select id="bps" name="childBPS">
  <option value="ignore">Choose BPS</option>
  <option value="ignore">-------------------</option>
  <?php
      $queryBPS = "SELECT id, birs_price_stat FROM 2_brs_prc_sts ORDER BY birs_price_stat";
      $resultBPS = sqlw_query($queryBPS);
      while($BPSArray=sqlw_fetch_array($resultBPS)){
      $childBPS=$BPSArray['id'];
      $displayBPS=$BPSArray['birs_price_stat'];
      //make sure the entry in the database is selected
      if ($childBPS==$childBPSExists){
        echo "<option selected=\"selected\" value=$childBPS>$displayBPS</option>";
        } else  {
        echo "<option value=$childBPS>$displayBPS</option>";
        }
    }
  ?>
</select>

<!--
ADD COLUMN childBPS tinyint(3) unsigned NOT NULL DEFAULT 1 AFTER retail_birsel,
ADD FOREIGN KEY 1_products_ibfk_10(childBPS) REFERENCES 2_brs_prc_sts(id) ON UPDATE CASCADE;
-->

<!-- ....................................................................... -->
<br>

<label for="last_birsel_add">Last Arbitrary Add Amount:</label>
<input type="text" id="last_birsel_add" name="last_birsel_add" value="<?php echo $last_birsel_add; ?>" size="5" />

<label for="last_birsel_minus">Last Arbitrary Minus Amount:</label>
<input type="text" id="last_birsel_minus" name="last_birsel_minus" value="<?php echo $last_birsel_minus; ?>" size="5" />

<label for="date_first_stocked">Date Of Last Arbitrary Change:</label>
<input type="text" id="date_first_stocked" name="dateFirstStocked" value="<?php echo $dateFirstStocked; ?>" size="10" />
<br>

<label for="birsel_note">Arbitrary Variance Note:</label>
<input type="text" id="birsel_note" name="birsel_note" value="<?php echo $birsel_note; ?>" size="100"/>

<br><br><hr><br>
