</div><!-- form right -->
<!-- ....................................................................... -->
<div class="form_left">
  <input class="button_submit_fixed" type="submit" name="prod_update" value="+" /></p>
  <!--<input class="button" class="button_submit_fixed" type="submit" name="prod_update" value="UPDATE" /></p>-->
  <input type="hidden" name="idItemNum" value="<?php echo $idItemNum; ?>" />
  <input type="hidden" name="p" value="product_edit_processor" />
  </div> <!-- form left -->
</form>
