<?php
require_once(URI_NOTES);
// require_once(URI_TOTALS_M);
require_once(URI_STATUS);
?>


<!--
</div>
-->
<!-- end #content -->

</div>
<!-- end #main -->

<!--
</div>
-->
<!-- end #wrap; MUST come before #footer -->

</body>
</html>