<div class="imagepluscontainer">
<!-- ========================================================================-->
  <div id="menu">
     <strong>☰</strong>
  </div>
<!-- ========================================================================-->
  <div class="desc leftslide">
    <strong> 	IBEXm 0.3.11 (<?php echo $machenv; ?>) </strong>
    <!--
    <hr>logout
    <BR>advanced search
    -->
    <BR><hr>
<!-- ========================================================================-->
    <ul>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=product_add_form">Add Product</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vocf">View Order Combined</a></li>

      <li class="no_bullet">-----------------------------------------------</li>

      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfptg">View Print Tag Flagged</a></li>

      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfptk">View Print Talker Flagged</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfmkh">View Has Markdown Tag Flagged</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfmkp">View Pre-Markdown Flagged</a></li>

      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfmk">View Markdown Flagged</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfclr">View Clearance Flagged</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfvoos">View Vendor Out of Stock Flagged</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vftks">View Tarik Seeks Flagged</a></li>

      <li class="no_bullet">-----------------------------------------------</li>

      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=valc">View Allocated Items</a></li>

      <li class="no_bullet">-----------------------------------------------</li>

      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfpno">View Public Is No</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vfobu">View Order By Unknown Or Ignore</a></li>
      
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=voleg">View Order Legacy</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=vnwdg">View Items Added While DG Gone</a></li>
      <li class="no_bullet"><a href="<?php echo FRONT_CONTROLLER; ?>?p=apnfo">App Info</a></li>
    </ul>
<!-- ========================================================================-->
  </div><!-- end desc leftslide-->
</div><!--imagepluscontainer -->
<!-- ========================================================================-->
<div id="main">

<!--
<div id="content">
-->
